* {
    font-family: 'Poppins', sans-serif;
}


.gameTitle{
    display: flex;
    justify-content: center;
}

.fast-rotate {
    animation-duration: 1s !important;
    transition: animation-duration 1s ease-in-out; /* Smooth transition */
     /* Fast rotation speed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.gameTitle img {
    width: 60px;
    height: 60px;
    animation: rotate 7s linear infinite;
    margin-top: 24px;
    transition: animation-duration 0.5s ease-in-out; /* Smooth transition */

}
.titleCard{
    text-align: center;
    font-weight: bolder;
}

.logoName{
    font-size: 35px;
}
#stats{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border: 2px solid black;
    border-bottom: 0;
}

#stats p {
    margin: 2px;
}

#game{
    /* display: flex; */
    /* justify-content:space-evenly;  */
    align-items: center;
    border-top: none;
    padding: 10px;
    flex: 1;
}

.options{
    display: flex-column;
    margin: 10px;
    cursor: pointer;

}


button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    color: black;

}

.baseinfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    /* gap: 10px; */
    width: 300px;
    margin: 0 auto;
}

.baseinfo button {
    padding: 0; /* Remove default padding */
    width: 100%; /* Full width of grid cell */
    aspect-ratio: 16 / 9; /* Make buttons square */
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.crafting-page button{
    display: flex;
}


/* ------------------------------------------------- */

.smelting-operation {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0;
}

.progress {
    height: 100%;
    background: #4CAF50;
    transition: width 0.3s ease;
}

.cancel-smelt {
    background: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-smelt:hover {
    background: #cc0000;
}