

.gameTitle{
    display: flex;
    justify-content: center;
}

.fast-rotate {
    animation-duration: 1s !important;
    transition: animation-duration 1s ease-in-out; /* Smooth transition */
     /* Fast rotation speed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.gameTitle img {
    width: 60px;
    height: 60px;
    animation: rotate 7s linear infinite;
    margin-top: 24px;
    transition: animation-duration 0.5s ease-in-out; /* Smooth transition */

}
.titleCard{
    text-align: center;
    font-weight: bolder;
}

.logoName{
    font-size: 35px;
}
#stats{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

#game{
    /* display: flex; */
    justify-content:space-evenly; 
    align-items: center;
    border-top: none;
    padding: 10px;
    flex: 1;
}
#mines{
    display: flex;
    justify-content:space-evenly;
}

#autoShop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.options{
    display: flex-column;
    margin: 10px;
    cursor: pointer;

}
button:focus{
    outline: none;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    color: black;

}

.baseinfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    /* gap: 10px; */
    width: 300px;
    margin: 0 auto;
}

.baseinfo button {
    padding: 0; /* Remove default padding */
    width: 100%; /* Full width of grid cell */
    aspect-ratio: 1 / 1; /* Make buttons square */
    font-size: 16px;
    /* background-color: #4CAF50; Green background */
    color: white;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}